:root {
    --color-primary: #bebebe;
    --color-secondary: #a0a0a0;

    --color-dry-primary: #91a88a;
    --color-dry-secondary: #1c7269;

    --color-cold-primary: #87b5b9;
    --color-cold-secondary: #5ab1a7;

    --color-frozen-primary: #bacdd8;
    --color-frozen-secondary: #507a96;
    
    --color-global-primary: #bebebe;
    --color-global-secondary: #a0a0a0;

    --color-text-bright: #ffffff;
    --color-text-dark: #000000;

    --height-cell-count:33px;
    --width-cell-count:56px;
    --padding-cell-count:0px;
    --margin-top-cell-count:-5px;
    --width-header-dry:1px;
    --padding-top-cell-count:5px;

    --padding-left: 0px;

    --count-input-width:44px;
    --count-input-margin-left:4px; 
    
    --count-input-bg-color: #eeeeee;

    --header-customer-number-width:80px;
    --header-customer-name-width:80px;
    --header-status-width:124px;
    --header-date-width:110px;
    --header-date-control-width:590px;

    --cell-complete-width: 1924px; 

    --date-input-width:108px;
    --date-input-margin-left: 4px;
    --date-input-margin-right: 18px;


    --cell-header-store-width: calc(var(--header-customer-number-width) + var(--header-customer-name-width) + var(--header-status-width) + var(--header-date-width)); 

}
*:focus {outline:none !important}
#counting_view_list{
    list-style-type: none;
    display:inline-block;
    width:3000px;
    margin-bottom: -15px;
    margin-left: -50px;
    
}
#banner{

    text-align: center;
}
#banner h1
{
    display:block;
    
}
.counting_view li {
    float: left;
    background-color:var(--color-primary);
    margin-top: -5px;
}
.control_bar div {
    background-color:#bebebe;
    width: var(--cell-complete-width);
    height: 48px;
    display:inline-block;
    
}



/*#region Checkbox*/
.checkbox_container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 8px;
  }  

  .checkbox_container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }  
 
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
  }  
  
  .checkbox_container:hover input ~ .checkmark {
    background-color: #ccc;
  }  
  
  .checkbox_container input:checked ~ .checkmark {
    background-color: var(--color-dry-primary)
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .checkbox_container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .checkbox_container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 2px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  /*#endregion Checkbox*/




.control_bar .control_bar_routes input[type=tel]{
    display: inline-block;
    border:none;
    width: 72px;
    margin-top: 6px;
    margin-left: 8px;
    margin-right: 32px;
}
.control_bar .control_bar_routes
{
    background-color: #aaaaaa!important;    
    height: 32px;
    width: 540px;    
    margin-right: 32px;
    margin-left: 32px;
    display:inline-block;
    margin-top: 8px;

}
.control_bar .control_bar_routes h4 {
    display: inline-block;
    margin-left: 4px;
    margin-right: 0px;
    font-size: small;
    margin-top: 6px;
}
.control_bar .control_bar_routes button{
    display: inline-block;
    font: bold 11px Arial;
    margin-left: 38px;
    margin-right: 38px;
    border:none;
    margin-top: 6px;
    padding: 4px 6px 4px 6px;
}
.control_bar .control_bar_routes button:hover{
    background-color: #FFFFFF;
}

























.control_bar .control_bar_fetch
{
    background-color: #aaaaaa!important;    
    height: 32px;
    width: 520px;    
    margin-right: 32px;
    margin-left: 32px;
    display:inline-block;
    margin-top: 6px;

}
.control_bar .control_bar_fetch h3 {
    display: inline-block;
    margin-left: 38px;
    margin-right: 16px;
    font-size: small;
    margin-top: 6px;
}
.control_bar .control_bar_fetch input{
    display: inline-block;
    border:none;
    width: 72px;
    margin-top: 6px;
}
.control_bar .control_bar_fetch button{
    display: inline-block;
    font: bold 11px Arial;
    margin-left: 38px;
    margin-right: 38px;
    border:none;
    margin-top: 6px;
    padding: 4px 6px 4px 6px;
}
.control_bar .control_bar_fetch button:hover{
    background-color: #FFFFFF;
}


















.control_bar .control_bar_default
{
    background-color: #bebebe!important;
    width: auto;
    padding-right: 16px;;
    height: 32px;
    margin-right: 32px;
    margin-left: 32px;      
    margin-top: 6px;
}


.control_bar .control_bar_default h3 {
    display: inline-block;
    margin-left: 38px;
    margin-right: 16px;
    font-size: small;
   
    margin-top: 2px;
    padding: 4px 6px 4px 6px;
    
}

.control_bar .control_bar_default h4 {
    display: inline-block;
    margin-left: 38px;
    margin-right: 0px;
    font-size: small;   
    margin-top: 2px;
    
}
.control_bar .control_bar_default input{
    display: inline-block;
    border:none;
    width: 72px;
    margin-top: 6px;
}
.control_bar .control_bar_default button{
    display: inline-block;
    font: bold 11px Arial;
    margin-left: 38px;
    margin-right: 38px;
    border:none;
   
    margin-top: 6px;
    padding: 4px 6px 4px 6px;
}
.control_bar .control_bar_default button:hover{
    background-color: #FFFFFF;
}
.control_bar .control_bar_default a:hover{
    background-color: #FFFFFF;
}
.control_bar .control_bar_default a{
    
    display: inline-block;
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 4px 6px 4px 6px;
    margin-top: 6px;
    margin-left: 6px;
}

#cell{
    height: 33px;
    background-color: var(--color-primary);
    width: var(--cell-complete-width);
}


#cell_status{
    width: var(--header-status-width);
    height: 32px;
    margin-top: -5px;
    padding-top: 5px;
    padding-left: var(--padding-left);
    text-align: center;
}
#cell_customer_name{
    width: var(--header-customer-name-width);
    height: 32px;
    background-color: var(--color-primary);
    margin-top: -5px;
    padding-top: 5px;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#cell_customer_name p{


    margin-top: 4px;

}
#cell_customer_number{
    width: var(--header-customer-number-width);
    height: 32px;
    background-color: var(--color-primary);
    margin-top: -5px;
    padding-top: 5px;
    text-align: center;
}
#cell_created_date{
    width: var(--header-date-width);
    height: 32px;
    background-color: var(--color-primary);
    margin-top: -5px;
    padding-top: 5px;
    text-align: center;
    font-size: 13px;;
}



















#cell_header_status{
    width: var(--header-status-width);
    text-decoration: underline;  
    background-color: var(--color-primary);
    color: var(--color-text-dark);
    
    padding-left: var(--padding-left);
}
#cell_header_customer_name{
    width: var(--header-customer-name-width);
    text-decoration: underline; 
    background-color: var(--color-primary);
    color: var(--color-text-dark);
    text-align: left;
}
#cell_header_customer_number{
    width: var(--header-customer-number-width);
    text-decoration: underline; 
    background-color: var(--color-primary);
    color: var(--color-text-dark);
    text-align: center;
}
#cell_header_created_date{
    width: var(--header-date-width);
    text-decoration: underline; 
    background-color: var(--color-primary);
    color: var(--color-text-dark);
    text-align: center;
}
#cell_header_created_date a{

    color: #000000;
    width: var(--header-date-width);
    padding-left: 0px;
    padding-right: 0px;
}

#cell_header_status a{

    color: #000000;
    width: var(--header-status-width);
    padding-left: 0px;
    padding-right: 0px;
}
#cell_header_customer_number a{

    color: #000000;
    width: var(--header-customer-number-width);
    padding-left: 0px;
    padding-right: 0px;
}
#cell_header_customer_name a{

    color: #000000;
    width: var(--header-customer-name-width);
    padding-left: 0px;
    padding-right: 0px;
}
#cell_header_count_dry{
    width: var(--width-cell-count);   
    padding-left:var(--padding-cell-count);
    padding-right:var(--padding-cell-count);
    margin-top: var(--margin-top-cell-count);
    text-align: center;
    text-decoration: underline;      
    background-color: var(--color-dry-primary);
    color: var(--color-text-dark);
}
#cell_header_count_cold{
    width: var(--width-cell-count);   
    padding-left:var(--padding-cell-count);
    padding-right:var(--padding-cell-count);
    margin-top: var(--margin-top-cell-count);
    text-align: center;
    text-decoration: underline;      
    background-color: var(--color-cold-primary);
    color:var(--color-text-dark);
}
#cell_header_count_frozen{
    width: var(--width-cell-count);   
    padding-left:var(--padding-cell-count);
    padding-right:var(--padding-cell-count);
    margin-top: var(--margin-top-cell-count);
    text-align: center;
    text-decoration: underline;      
    background-color: var(--color-frozen-primary);
    color: var(--color-text-dark);
}
#cell_header_count_global{
    width: var(--width-cell-count);   
    padding-left:var(--padding-cell-count);
    padding-right:var(--padding-cell-count);
    margin-top: var(--margin-top-cell-count);
    text-align: center;
    text-decoration: underline;      
    background-color: var(--color-global-primary);
    
    color: var(--color-text-dark);
}
#cell_header_count_date_control{
    width: calc(var(--header-date-control-width)/4);   
    padding-left:var(--padding-cell-count);
    padding-right:var(--padding-cell-count);
    margin-top: var(--margin-top-cell-count);
    text-align: center;
    text-decoration: underline;      
    background-color: var(--color-global-primary);
    color: var(--color-text-dark);
}

#cell_header_count_date_control_add{
    width: 44px;   
    padding-left:var(--padding-cell-count);
    padding-right:var(--padding-cell-count);
    margin-top: var(--margin-top-cell-count);
    text-align: center;
    text-decoration: underline;      
    background-color: var(--color-global-primary);
    color: var(--color-global-primary);
}
#cell_header_count_fill{
    width: 523px;  
    padding-left:var(--padding-cell-count);
    padding-right:var(--padding-cell-count);
    margin-top: var(--margin-top-cell-count);
    text-align: center;
    text-decoration: underline;      
    background-color: var(--color-global-primary);
    
    color: var(--color-text-dark);
}


#cell_header_store{
    width: var(--cell-header-store-width);  
    text-decoration: underline; 
    background-color: var(--color-primary);
    text-align: center;
    color: var(--color-text-dark);
    font-weight: bold;
    padding-left: var(--padding-left);
    padding-bottom: 5px;
}
#cell_header_dry{
    width: calc(var(--width-cell-count) * 4);  
    text-decoration: underline;   
    background-color: var(--color-dry-primary);
    text-align: center;
    color:var(--color-text-dark);
    font-weight: bold;
    padding-bottom: 5px;
}
#cell_header_cold{
    width: calc(var(--width-cell-count) * 4);    
    text-decoration: underline;  
       
    background-color: var(--color-cold-primary);
    text-align: center;
    color: var(--color-text-dark);
    font-weight: bold;
    padding-bottom: 5px;
}
#cell_header_frozen{
    width: calc(var(--width-cell-count) * 4);    
    text-decoration: underline;   
    background-color: var(--color-frozen-primary);
    text-align: center;
    color: var(--color-text-dark);
    font-weight: bold;
    padding-bottom: 5px;
}
#cell_header_global{
    width: calc(var(--width-cell-count) * 4);  
    text-decoration: underline;     
    background-color: var(--color-global-primary);
    text-align: center;
    color: var(--color-text-dark);
    font-weight: bold;
    padding-bottom: 5px;
    
}



















#cell_header_store_fill{
    width: var(--cell-header-store-width);  
    background-color: var(--color-primary);
    text-align: center;
    color: var(--color-text-dark);
    font-weight: bold;
    padding-left: var(--padding-left);
    padding-bottom: 5px;
    height:33px;
}
#cell_header_dry_fill{
    width: calc(var(--width-cell-count) * 4);  
    background-color: var(--color-dry-primary);
    text-align: center;
    color:var(--color-text-dark);
    font-weight: bold;
    padding-bottom: 5px;
    height:33px;
}
#cell_header_cold_fill{
    width: calc(var(--width-cell-count) * 4);           
    background-color: var(--color-cold-primary);
    text-align: center;
    color: var(--color-text-dark);
    font-weight: bold;
    padding-bottom: 5px;
    height:33px;
}
#cell_header_frozen_fill{
    width: calc(var(--width-cell-count) * 4);      
    background-color: var(--color-frozen-primary);
    text-align: center;
    color: var(--color-text-dark);
    font-weight: bold;
    padding-bottom: 5px;
    height:33px;
}
#cell_header_global_fill{
    width: calc(var(--width-cell-count) * 4);     
    background-color: var(--color-global-primary);
    text-align: center;
    color: var(--color-text-dark);
    font-weight: bold;
    padding-bottom: 5px;
    height:33px;
    
}




















#cell_header_date_control{
    width: var(--header-date-control-width);   
    text-decoration: underline;   
    background-color: var(--color-global-primary);
    text-align: center;
    color: var(--color-text-dark);
    font-weight: bold;
    padding-bottom: 5px;
}
#cell_header_date_control_add{
    width: 44px;   
    text-decoration: underline;   
    background-color: var(--color-global-primary);
    text-align: center;
    color: var(--color-global-primary);
    font-weight: bold;
    padding-bottom: 5px;
}
#cell_count_dry{
    background-color: var(--color-dry-primary);
    width: var(--width-cell-count);
    height: var(--height-cell-count);  
    padding-left:var(--padding-cell-count);
    padding-right:var(--padding-cell-count);
    margin-top: var(--margin-top-cell-count);
    padding-top: var(--padding-top-cell-count);
}
#cell_count_cold{

    background-color: var(--color-cold-primary);
    width: var(--width-cell-count);
    height: var(--height-cell-count);  
    padding-left:var(--padding-cell-count);
    padding-right:var(--padding-cell-count);
    margin-top: var(--margin-top-cell-count);
    padding-top: var(--padding-top-cell-count);

}
#cell_count_frozen{

    background-color: var(--color-frozen-primary);    
    margin-top: var(--margin-top-cell-count);
    padding-top: var(--padding-top-cell-count);
    padding-left:var(--padding-cell-count);
    padding-right:var(--padding-cell-count);
    width: var(--width-cell-count);
    height: var(--height-cell-count); 

}
#cell_count_global{

    background-color:var(--color-global-primary);
    margin-top: var(--margin-top-cell-count);
    padding-top: var(--padding-top-cell-count);
    padding-left:var(--padding-cell-count);
    padding-right:var(--padding-cell-count);
    width: var(--width-cell-count);
    height: var(--height-cell-count); 
}
#cell_date_control{

    background-color: var(--color-global-primary);    
    margin-top: var(--margin-top-cell-count);
    padding-top: var(--padding-top-cell-count);
    padding-left:var(--padding-cell-count);
    padding-right:var(--padding-cell-count);
    width: calc(var(--header-date-control-width)/4); 
    height: var(--height-cell-count);
    
}
#cell_date_control button{

    background-color: var(--color-dry-primary);
    display: inline-block;
    font: bold 11px Arial;
    margin-left: 0px;
    margin-right: 2px;
    display: inline-block;
    border:none;
    width: 24px;
    height:18px;
    padding: 4px 6px 4px 6px;

}
#cell_date_control button:hover{

    background-color: var(--color-dry-secondary);

}
#cell_date_control button:active{

    background-color: #cfcfcf;
    border: 1px solid #333333;
}
#cell_date_control input{

    width: var(--date-input-width);
    
    height:16px;
    text-align: center;
    margin-left: var(--date-input-margin-left);
    /*margin-right: var(--date-input-margin-right);*/
    background-color: var(--count-input-bg-color);
    outline: none;
    border: 0px;  
    font-size: 13px;
}

#cell_date_control_add{

    background-color: var(--color-global-primary);    
    margin-top: var(--margin-top-cell-count);
    padding-top: var(--padding-top-cell-count);
    padding-left:var(--padding-cell-count);
    padding-right:var(--padding-cell-count);
    width: 32; 
    height: var(--height-cell-count);
}
#cell_date_control_add button{

    display: inline-block;
    font: bold 11px Arial;
    margin-left: 4px;
    margin-right: 16px;
    display: inline-block;
    border:none;
    width: 24px;
    padding: 4px 6px 4px 6px;

}
#cell_date_control_add button:hover{

    background-color: #cfcfcf;
}
#cell_date_control_add button:active{

    background-color: #cfcfcf;
    border: 1px solid #333333;
}


#cell_date_control p{

    margin-top: 2px;
   font-size: 13px;
   padding-left:4px;
   text-align: center;
}
/*
#cell_date_control button{

    display: inline-block;
    font: bold 11px Arial;
    margin-left: 16px;
    margin-right: 16px;
    display: inline-block;
    border:none;
   width: 110px;
    padding: 4px 6px 4px 6px;
}

#cell_date_control button:hover{

    background-color: #cfcfcf;

}
#cell_date_control button:active{

    background-color: #cfcfcf;
    border: 1px solid #333333;
}
*/
#cell_date{

    background-color:var(--color-global-primary);
    margin-top: var(--margin-top-cell-count);
    padding-top: var(--padding-top-cell-count);
    padding-left:6px;
    padding-right:6px;
    width: 82px;
    height: var(--height-cell-count); 
}
#cell_date input{

    width: 78px;
}
#cell_time{

    background-color:var(--color-global-primary);
    margin-top: var(--margin-top-cell-count);
    padding-top: var(--padding-top-cell-count);
    padding-left:0px;
    padding-right:16px;
    width: 42px;
    height: var(--height-cell-count); 
}
#cell_time input{

    width: 42px;
}

#customer_info_uncounted {

    color: #000000;
}
#customer_info_uncounted_late {

    color: #cf0000;
}
#customer_info_counted {

    color: #fffd6c;
}
#customer_info_done {

    color: #207a05;
}

#cell_count_fill{

    background-color:var(--color-global-primary);
    margin-top: var(--margin-top-cell-count);
    padding-top: var(--padding-top-cell-count);
    padding-left:var(--padding-cell-count);
    padding-right:var(--padding-cell-count);
    width: 522px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
#cell_count_dry input[type=number]{

    width: var(--count-input-width);
    text-align: center;
    margin-left: var(--count-input-margin-left);
    background-color: var(--count-input-bg-color);
    outline: none;
    border: 0px;  
}
#cell_count_cold input[type=number]{

    width: var(--count-input-width);
    text-align: center;
    margin-left: var(--count-input-margin-left);
    background-color: var(--count-input-bg-color);
    outline: none;
    border: 0px;  
}
#cell_count_frozen input[type=number]{

    width: var(--count-input-width);
    text-align: center;
    margin-left: var(--count-input-margin-left);
    background-color: var(--count-input-bg-color);
    outline: none;
    border: 0px;  
}

#cell_count_dry input[type=tel]{

    width: var(--count-input-width);
    text-align: center;
    margin-left: var(--count-input-margin-left);
    background-color: var(--count-input-bg-color);
    outline: none;
    border: 0px;  
}
#cell_count_cold input[type=tel]{

    width: var(--count-input-width);
    text-align: center;
    margin-left: var(--count-input-margin-left);
    background-color: var(--count-input-bg-color);
    outline: none;
    border: 0px;  
}
#cell_count_frozen input[type=tel]{

    width: var(--count-input-width);
    text-align: center;
    margin-left: var(--count-input-margin-left);
    background-color: var(--count-input-bg-color);
    outline: none;
    border: 0px;  
}
#cell_count_global input[type=tel]{

    width: var(--count-input-width);
    text-align: center;
    margin-left: var(--count-input-margin-left);
    background-color: var(--count-input-bg-color);
    outline: none;
    border: 0px;  
}


  .counting_view li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  .counting_view li a:hover {
    background-color: #111111;
  }